.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    border: 1px solid black;
    padding: 10px;
    color: blue;
    width:300px;
    margin-bottom: 20px;
}