.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    border: 1px solid pink;
    padding: 10px;
<<<<<<< HEAD
    color: blueviolet;
    background-color: black;
    width:300px;
=======
    color: green;
    background-color: white;
    width:200px;
>>>>>>> cb1836dca500464cfa654887ffe81481be7f9f6b
    border-radius: 5px;
    margin-bottom: 20px;

}